#!/bin/bash

# #########################################################
# Source this file to properly set paths and stuff
#
# #########################################################

root_folder=$HOME/PROJ_irox_repos


# ########################################################
# Activate the custom and local conda environment for repo
conda_env_name='PROJ_irox'
conda activate $conda_env_name


# ########################################################
# Set the location of repo as project environment variable
export PROJ_irox=<Put location of PROJ_irox repo here>  # USER


# ########################################################
# Adding the PROJ_DATA location to PATH
PROJ_DATA_path=<PROJ_DATA path here>  # USER
export PROJ_DATA=$PROJ_DATA_path



# #######################################################
# DON'T NEED USER BELOW HERE






















# ########################################################
# Adding gdrive ENV variable
gdrive_path=$PROJ_DATA/04_IrOx_surfaces_OER/gdrive
export gdrive=$gdrive_path


# ########################################################
# Adding the Active Learning python modules to path

al_python_path=$PROJ_irox/python_classes
export PYTHONPATH=$al_python_path:$PYTHONPATH

al_data_path=$PROJ_irox/workflow/ml_modelling/00_ml_workflow
export PYTHONPATH=$al_data_path:$PYTHONPATH


# ########################################################
# Adding the 00_PythonModules repo to PYTHONPATH
my_pyth_modules=$root_folder/00_PythonModules
export PYTHONPATH=$my_pyth_modules:$PYTHONPATH


# ########################################################
# Adding CatLearn to path
catlearn_path=$root_folder/CatLearn
export PYTHONPATH=$catlearn_path:$PYTHONPATH


# ########################################################
# Adding StructurePrototypeAnalysisPackage
spap_path=$root_folder/StructurePrototypeAnalysisPackage
export PYTHONPATH=$spap_path:$PYTHONPATH


# ########################################################
# Adding Protosearch to path
export protosearch_path=$root_folder/Protosearch
export PYTHONPATH=$protosearch_path:$PYTHONPATH
